<li id="tweet-<%= tweet.id %>">
  <%= link_to gravatar_for(tweet.user, size: 50), tweet.user %>
  <span class="user"><%= link_to tweet.user.handle, tweet.user %></span>
  <span class="content"><%= link_to tweet.content, tweet.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago.
  </span>
  </li>
