<% provide(:title, "Sign up") %>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-lg-6 col-md-offset-3" id="body">

    <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

